.profile-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.profile-photo {
  border: 1px dashed #424e82;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Центрирование изображения по горизонтали */
  align-items: center; /* Центрирование изображения по вертикали */
}

.profile-photo img {
  width: 500px;
  height: 500px;
}
.profile-photo,
.login-register {
  width: 50%;
}

.login-item {
  position: relative; /* Устанавливаем относительное позиционирование */
}
.login-register {
  background-color: #f3fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-item::before {
  content: "";
  background-image: url(../images/09f1854d842a3e537f45.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -68px;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
}
.login-register__link-container {
  margin-top: 28px;
}
.register-item {
  position: relative;
  margin-left: 116px;
}
.register-item::before {
  content: "";
  background-image: url(../images/e00d25153abfba663bab.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -68px;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
}
.login-link,
.register-link {
  color: #485fc7;
  font-size: 24px;
  font-weight: 700;
}
.login-link,
.register-link {
  text-decoration: none;
  position: relative;
}

.login-link::after,
.register-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #424e82;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  border-radius: 50px;
}

.login-link:hover::after,
.register-link:hover::after {
  transform: scaleX(1);
}
.social-signup {
  font-size: 16px;
  margin-top: 25px;
}
.social-icons {
  margin-top: 12px;
}
.social-icons a {
  margin-right: 49px;
}
.social-icons a:last-child {
  margin-right: 0px;
}
.text-1 {
  margin-top: 14px;
}
.text-2 {
  margin-top: 12px;
}
ul {
  display: flex;
}
.checkbox {
  display: flex;
  align-items: center;
}
.login-register {
  margin-left: 0px !important;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Максимальная ширина формы для центрирования */
  width: 95%; /* Ширина формы 100% */
  margin: auto; /* Центрирование формы на странице */
}

.input-wrapper,
.input-password {
  position: relative;
  height: 53px;
  margin-bottom: 10px; /* Отступ между инпутами и кнопкой */
  padding: 0 53px; /* Внутренние отступы для удобства ввода */
  font-size: 14px; /* Размер шрифта инпутов */
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 95%; /* Инпуты расп Stretch на 100% родителя */
}

.btn-form {
  max-width: 600px; /* Максимальная ширина кнопки */
  height: 59px;
  background-color: #485fc7;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 14px;
  width: 95%; /* Кнопка на 100% ширины родителя */
}

label {
  display: flex;
  align-items: center; /* Выравнивание чекбокса и текста по вертикали */
  margin-top: 10px; /* Отступ сверху от кнопки */
}

input[type="checkbox"] {
  width: 24px; /* Ширина чекбокса */
  height: 24px; /* Высота чекбокса */
  margin-right: 9px; /* Отступ справа от чекбокса */
}
.remember-me {
  display: flex; /* Используем флекс для расположения элементов */
  align-items: center; /* Выравниваем по центру */
  margin-top: 7px; /* Отступ сверху */
  justify-content: flex-end; /* Убираем отступы по краям */
}
p {
  margin-top: 10px; /* Отступ сверху для параграфа */
}

a {
  color: #007bff; /* Цвет ссылки */
  text-decoration: none; /* Убираем подчеркнутость */
}

a:hover {
  text-decoration: underline; /* Подчеркивание ссылки при наведении */
}

/* .input-container input {
  width: 100%;
} */
.input-password::before,
.input-wrapper::before {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
  width: 33px;
  height: 33px;
  left: 0px;
}

.input-wrapper::before {
  background-image: url(../images/6d8eeaef7d1cfe0ee52d.svg);
}

.input-password::before {
  background-image: url(../images/db787ad118fb6f38d1b7.svg);
}
.input-password::after {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  right: 10px; /* Отступ справа для второй иконки */
  top: 10px; /* Высота от верхнего края инпута */
  background-image: url(../images/30e265120c797f5e74d8.svg);
}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  height: 80px;
} */

/* .logo {
  align-self: flex-end;
}
nav {
  max-width: 100%;
  display: flex;
}
ul {
  display: flex;
  align-items: center;
}

nav ul a {
  color: black;
  font-size: 16px;
  margin-right: 74px;
}

nav ul li:last-child a {
  margin-right: 0px;
} */
header {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам перенестись на новую строку */
  justify-content: space-between; /* Равномерно распределяет пространство между элементами */
  align-items: center; /* Центрирует элементы по вертикали */
  padding: 20px; /* Отступы вокруг хедера */
  font-family: "Raleway", sans-serif;
}

.logo img {
  max-height: 60px; /* Устанавливаем максимальную высоту для логотипа */
}
nav {
  flex-grow: 1; /* Заставляет навигацию занимать оставшееся пространство */
  display: flex;
  justify-content: center; /* Центрируем навигацию внутри flex-контейнера */
}
.flex-nav {
  display: flex;
  flex-wrap: wrap; /* Элементы будут переноситься на новую строку при необходимости */
  gap: 74px; /* Расстояние между элементами навигации */
  margin: 0;
  padding: 0;
  list-style: none; /* Убираем маркеры списка */
}

.flex-nav a {
  color: black; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 16px; /* Размер шрифта */
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.login-button {
  text-align: center;
  min-width: 120px; /* Минимальная ширина */
  max-width: 30vw; /* Максимальная ширина (30% от ширины окна) */
  height: 40px;
  background-color: #485fc7;
  color: white;
  border-radius: 50px;
  font-size: 14px;
  flex-grow: 1; /* Позволяет кнопке расти */
}

.register-button {
  text-align: center;
  min-width: 200px; /* Минимальная ширина */
  max-width: 50vw; /* Максимальная ширина (50% от ширины окна) */
  height: 40px;
  background-color: #e5e5e5;
  border-radius: 50px;
  font-size: 14px;
  flex-grow: 1; /* Позволяет кнопке расти */
}

footer {
  font-family: "Raleway", sans-serif !important;
  background-color: white !important;
}
.kuzovkin-title {
  font-size: 24px !important;
  color: #485fc7;
  font-weight: bold;
  font-family: "Raleway", sans-serif !important;
}
.footer a {
  color: black;
}

/* Стили для планшетной версии */
@media (max-width: 1024px) and (min-width: 835px) {
  header {
    padding: 15px; /* Уменьшаем отступы для планшетной версии */
    flex-direction: column; /* Вертикальная ориентация для хедера */
    align-items: center; /* Центрируем элементы */
  }

  .login-button,
  .register-button {
    min-width: 100px; /* Уменьшаем минимальную ширину кнопок */
    max-width: 100%; /* Растягиваем кнопки на всю ширину */
  }

  .profile-section {
    flex-direction: column; /* Вертикальная ориентация для профиля */
    align-items: center; /* Центрируем элементы профиля */
  }

  .profile-photo,
  .login-register {
    width: 90%; /* Ширина секций */
    margin-bottom: 20px; /* Отступ между секциями */
  }

  .profile-photo img {
    width: 80%; /* Ширина изображения в профиле для адаптивности */
    height: auto; /* Автоматическая высота для сохранения пропорций */
  }

  .input-wrapper,
  .input-password {
    width: 100%; /* Ширина полей ввода на 100% */
    margin-bottom: 15px; /* Отступ между инпутами */
  }

  .btn-form {
    width: 100%; /* Кнопка на 100% ширины */
    font-size: 16px; /* Увеличиваем размер шрифта */
  }

  /* Скрывать или уменьшать неудобные элементы для планшетов */
  .login-register__link-container ul {
    flex-direction: column; /* Вертикальная ориентация для ссылок */
    align-items: center; /* Центрируем ссылки */
  }
}

@media (max-width: 834px) {
  header {
    padding: 10px; /* Уменьшаем отступы для мобильной версии */
    flex-direction: column; /* Вертикальная ориентация для хедера */
    align-items: center; /* Центрируем элементы */
  }

  .login-button,
  .register-button {
    min-width: 80px; /* Уменьшаем минимальную ширину кнопок */
    max-width: 100%; /* Растягиваем кнопки на всю ширину */
    font-size: 14px; /* Уменьшаем размер шрифта для мобильных кнопок */
  }

  .profile-section {
    flex-direction: column; /* Вертикальная ориентация для профиля */
    align-items: center; /* Центрируем элементы профиля */
  }

  .profile-photo,
  .login-register {
    width: 95%; /* Ширина секций чуть меньше для мобильных устройств */
    margin-bottom: 15px; /* Отступ между секциями */
  }

  .profile-photo img {
    width: 90%; /* Ширина изображения в профиле для адаптивности */
    height: auto; /* Автоматическая высота для сохранения пропорций */
  }

  .input-wrapper,
  .input-password {
    width: 100%; /* Ширина полей ввода на 100% */
    margin-bottom: 10px; /* Уменьшаем отступ между инпутами */
    font-size: 14px; /* Уменьшаем размер шрифта в полях ввода */
  }

  .btn-form {
    width: 100%; /* Кнопка на 100% ширины */
    font-size: 16px; /* Увеличиваем размер шрифта */
  }

  /* Скрывать или уменьшать неудобные элементы для мобильных устройств */
  .login-register__link-container ul {
    flex-direction: column; /* Вертикальная ориентация для ссылок */
    align-items: center; /* Центрируем ссылки */
  }

  /* Добавляем стиль для бургер-меню */
  .menu-toggle {
    display: flex; /* Показываем бургер-меню */
    justify-content: space-around;
    width: 40px; /* Ширина бургер-меню */
    cursor: pointer; /* Указываем, что это кликабельный элемент */
    margin-top: 10px; /* Отступ сверху */
  }

  .nav {
    display: none; /* Скрываем навигацию по умолчанию */
    flex-direction: column; /* Вертикальная ориентация меню */
    width: 100%; /* Ширина меню на пол экрана */
  }

  .nav.active {
    display: flex; /* Показываем меню при активации */
  }

  /* Добавляем плавный переход для открытия/закрытия меню */
  .nav ul {
    transition: max-height 0.3s ease; /* Плавный переход для высоты */
  }
}

/* tablet */

@font-face {
  font-family: "Raleway";
  src: url(../d9219d8a361ac3530c7e.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

header,
footer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
main {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
}

