form {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Максимальная ширина формы для центрирования */
  margin: auto; /* Центрирование формы на странице */
}

.input-wrapper,
.input-wrapper-text,
.input-password {
  position: relative; /* Для корректного позиционирования иконок */
  width: 100%; /* Сделаем ширину 100% */
  height: 53px; /* Высота инпутов */
  margin-bottom: 10px; /* Отступ между инпутами и кнопкой */
}

input[type="text"],
input[type="email"],
.input-pasword,
.input-pasword-return {
  width: 100%; /* Ширина инпута */
  height: 100%; /* Высота инпута будет соответствовать родителю */
  padding: 0 53px; /* Внутренние отступы для удобства ввода */
  font-size: 14px; /* Размер шрифта инпутов */
  border: 1px solid black;
  border-radius: 10px;
}

.input-wrapper::before,
.input-wrapper-text::before,
.input-password::before {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 33px; /* Ширина иконки */
  height: 33px; /* Высота иконки */
  left: 10px; /* Положение иконки от левого края */
  top: 10px; /* Положение иконки от верхнего края */
}

/* Задайте фон иконкам, как было раньше */
.input-wrapper-text::before {
  background-image: url("../main/icon/free-icon-press-pass-input.svg");
}

.input-password::before {
  background-image: url("../main/icon/free-icon-security-lock-input.svg");
}

.btn-form {
  width: 100%; /* Ширина кнопки */
  height: 59px;
  background-color: #485fc7;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 14px;
}

label {
  display: flex;
  align-items: center; /* Выравнивание чекбокса и текста по вертикали */
  margin-top: 10px; /* Отступ сверху от кнопки */
}

input[type="checkbox"] {
  width: 24px; /* Ширина чекбокса */
  height: 24px; /* Высота чекбокса */
  margin-right: 9px; /* Отступ справа от чекбокса */
}

.remember-me {
  display: flex; /* Используем флекс для расположения элементов */
  align-items: center; /* Выравниваем по центру */
  margin-top: 7px; /* Отступ сверху */
  justify-content: flex-end; /* Убираем отступы по краям */
}

p {
  margin-top: 10px; /* Отступ сверху для параграфа */
}

a {
  color: #007bff; /* Цвет ссылки */
  text-decoration: none; /* Убираем подчеркнутость */
}

a:hover {
  text-decoration: underline; /* Подчеркивание ссылки при наведении */
}
