.profile-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.profile-photo {
  border: 1px dashed #424e82;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Центрирование изображения по горизонтали */
  align-items: center; /* Центрирование изображения по вертикали */
}

.profile-photo img {
  width: 500px;
  height: 500px;
}
.profile-photo,
.login-register {
  width: 50%;
}

.login-item {
  position: relative; /* Устанавливаем относительное позиционирование */
}
.login-register {
  background-color: #f3fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-item::before {
  content: "";
  background-image: url(../../img/log-in-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -68px;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
}
.login-register__link-container {
  margin-top: 28px;
}
.register-item {
  position: relative;
  margin-left: 116px;
}
.register-item::before {
  content: "";
  background-image: url(../../img/register-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -68px;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
}
.login-link,
.register-link {
  color: #485fc7;
  font-size: 24px;
  font-weight: 700;
}
.login-link,
.register-link {
  text-decoration: none;
  position: relative;
}

.login-link::after,
.register-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #424e82;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  border-radius: 50px;
}

.login-link:hover::after,
.register-link:hover::after {
  transform: scaleX(1);
}
.social-signup {
  font-size: 16px;
  margin-top: 25px;
}
.social-icons {
  margin-top: 12px;
}
.social-icons a {
  margin-right: 49px;
}
.social-icons a:last-child {
  margin-right: 0px;
}
.text-1 {
  margin-top: 14px;
}
.text-2 {
  margin-top: 12px;
}
ul {
  display: flex;
}
.checkbox {
  display: flex;
  align-items: center;
}
.login-register {
  margin-left: 0px !important;
}
