footer {
  font-family: "Raleway", sans-serif !important;
  background-color: white !important;
}
.kuzovkin-title {
  font-size: 24px !important;
  color: #485fc7;
  font-weight: bold;
  font-family: "Raleway", sans-serif !important;
}
.footer a {
  color: black;
}
